
## SECCION ACTUALIDADES INICIO ##

<div class="col-md-10 col-lg-8 m-auto">
            <h6 class="title mb-4 mt-5 pt-5">Actualidad y anuncios</h6>
            <p class="mb-5"> Aquí iré actualizando los posts para mantenerte al tanto de las novedades, pero si no quieres perderte ninguna, será mejor que te suscribas dejando tu e-mail en la parte baja de la página ;) </p>
        </div>
<!-- row -->
<div class="row mb-5">
    <div class="col-md-6">
        <a href="imgs/blog4.jpg" class="card">
            <img src="{% static 'imgs/blog4.jpg' %}" class="card-img" alt="Enclosed Sea Edalom Map">
            <div class="card-body">
                <h6 class="card-subtitle">19 February, 2023</h6>
                <h3 class="card-title">Piece of map</h3>
                <p>Check out the map of the Enclosed Sea, in the heart of Edalom continent.</p>
            </div>                  
        </a>
    </div>  
    <div class="col-md-6">
        <a href="https://www.amazon.com/dp/B0BW6KY96N/" target="blank" class="card">
            <img src="{% static 'imgs/blog3.jpg' %}" class="card-img" alt="The Tournament eBook cover">
            <div class="card-body">
                <h6 class="card-subtitle">18 February, 2023</h6>
                <h3 class="card-title">The Tournament, available in Amazon</h3>
                <p>Click the image and go to the product page!</p>
            </div>                  
        </a>
    </div>  
</div><!-- end of row -->
<a href="#">Todos los Posts <i class="ti-angle-double-right angle"></i></a>